<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  
  <style> 
      #map { 
        height: 400px; 
        width: 100%; 
       } 
    </style> 
    <script 
    src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCLy_jxC4UPhGpw5zPA2yr3YF_cJhmCHIY&libraries=places"> 
    </script>
<script>
var app = angular.module("myApp", ['ngMaterial']);
app.service('Map', function($q) {
    
    this.init = function() {
        var options = {
            center: new google.maps.LatLng(40.7127837, -74.00594130000002),
            zoom: 13,
            disableDefaultUI: true    
        }
        this.map = new google.maps.Map(
            document.getElementById("map"), options
        );
        this.places = new google.maps.places.PlacesService(this.map);
    }
    
    this.search = function(str) {
        var d = $q.defer();
        this.places.textSearch({query: str}, function(results, status) {
            if (status == 'OK') {
                d.resolve(results[0]);

            }
            else d.reject(status);
        });
        console.log(d.promise);
        return d.promise;
    }
    
    this.addMarker = function(res) {
        console.log(res);
        if(this.marker) this.marker.setMap(null);
        this.marker = new google.maps.Marker({
            map: this.map,
            position: res.geometry.location,
            animation: google.maps.Animation.DROP
        });
        this.map.setCenter(res.geometry.location);
    }
    
});
app.controller("myCtrl", function($scope,$http,Map){
	 $http({
      method : "GET",
      url : "https://indian-cities-api-nocbegfhqg.now.sh/cities"
  }).then(function mySuccess(response) {
  	 $scope.result = response.data;
  	 $scope.stateList = [];
  	 $scope.len = $scope.result.length;
  	 for(var i=0; i<$scope.len; i++){
  	 	if($scope.len == 0) $scope.stateList.push($scope.result[i].State);
  	 	else {
  	 		if($scope.stateList.indexOf($scope.result[i].State) === -1) 
      $scope.stateList.push($scope.result[i].State);
  	 }
  	 	} 	
      console.log($scope.stateList);
  }, function myError(response) {
    $scope.result = response.statusText;
  });
  $scope.func = function(a){
  	console.log(a);
  	$scope.state = a;
    $http({
      method : "GET",
      url : "https://indian-cities-api-nocbegfhqg.now.sh/cities?State="+$scope.state
  }).then(function mySuccess(response) {
  	 $scope.cities = response.data; 
  	 console.log($scope.cities); 
  	$scope.cityList = [];
  	 $scope.len = $scope.cities.length;
  	 console.log($scope.len);
  	 for(var i=0; i<$scope.len; i++){
  	 	if($scope.len == 0) $scope.cityList.push($scope.cities[i].City);
  	 	else {
  	 		if($scope.cityList.indexOf($scope.cities[i].City) === -1) 
      $scope.cityList.push($scope.cities[i].City);
  	 }
  	 	} 	
      console.log($scope.cityList);	
  }, function myError(response) {
    $scope.result = response.statusText;
  });
  }
  $scope.place = {};
    $scope.hello = function (city) {
  $scope.searchPlace = city;
    $scope.search();
   }
    $scope.search = function() {
        $scope.apiError = false;
        Map.search($scope.searchPlace)
        .then(
            function(res) { // success
                Map.addMarker(res);
                $scope.place.name = res.name;
                $scope.place.lat = res.geometry.location.lat();
                $scope.place.lng = res.geometry.location.lng();
                console.log($scope.place.lat    );
            },
            function(status) { // error
                $scope.apiError = true;
                $scope.apiStatus = status;
            }
        );
    }
    
    $scope.send = function() {
        alert($scope.place.name + ' : ' + $scope.place.lat + ', ' + $scope.place.lng);    
    }
    
    Map.init();
 

});

</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div layout="row" layout-margin layout-padding layout-align="center center" >
<div flex="80" layout="column">
<h1 style="text-align:center"> Assignment Artivatic</h1>
<div>
<b>States:&nbsp;</b><select ng-model="selectedState" ng-change="func(selectedState)" style="width:200px;">
<option ng-repeat="x in stateList">{{x}}</option>
</select>
</div>
<div layout="row">
<div flex="50" layout-padding layout-margin>
<b>Click to See CIty In Map</b>
<p><button ng-repeat="x in cityList" ng-click="hello(x)" layout="row" style="border:0px;padding:5px;background-color:whitegrey;">
 {{x}}</button></p>
</div>
<div flex="50">

 <form name="searchForm" novalidate 
    ng-submit="search()">
        <div class="input-group">
            <input type="hidden" name="place" type="text" class="form-control" 
            ng-model="searchPlace" required autofocus />
          
        </div>
    </form>
        
    <div id="map"></div>
</div>
</div>
</body>
</html>